@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Default font di seluruh body */
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

/* Atur gambar hero */
.hero-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-img img {
  width: 700px;
  transform: scaleX(-1); /* flip */
}

section .w-1/3 {
  position: relative;
  z-index: 10; /* biar muncul di atas gambar */
}

/* Custom tombol */
.btn-primary {
  @apply mt-6 px-8 py-3 bg-red-500 rounded-full font-semibold text-white text-lg shadow-lg hover:bg-red-600 transition;
}
